.nav_bar {
  .logo {
    img {
      width: 80px;
    }
    width: 300px;
    box-sizing: border-box;
    padding-left: 20px;
    text-align: center;
  }
  .button_menu {
    display: none;
  }
  .menu {
    .menu_content {
      .link {
        a {
          color: white;
          font-size: 20px;
          display: inline-block;
          padding: 0 20px;
        }
        grid-column: 1/3;
        display: flex;
        justify-content: flex-end;
      }

      .login {
        text-align: center;
      }
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      width: 100%;
    }
    width: calc(100% - 300px);
    display: flex;
    align-items: center;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
  }
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 999;
  display: flex;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

@media screen and (max-width: 1024px) {
  .nav_bar {
    .logo {
      width: 100px;
    }
    .menu {
      width: calc(100% - 100px);
    }
  }
}
@media screen and (max-width: 720px) {
  .nav_bar {
    .menu {
      .menu_content {
        .link {
          display: flex;
          flex-direction: column;
          line-height: 2;
          order: 1;
        }

        .login {
          order: 3;
        }
        background-color: #005c71;
        min-width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      .other {
        width: 100vw;
        height: 100vh;
        background-color: transparent;
      }
      position: fixed;
      left: -100%;
      top: 0;
      height: 100vh;
      width: 100vw;

      z-index: 9999;
    }
    .button_menu {
      i {
        font-size: 25px;
      }
      display: flex;
      align-items: center;
      padding-right: 20px;
    }
    justify-content: space-between;
    position: fixed;
    background-color: rgb(18, 68, 134)!important;
  }
}
