* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.1rem 0;
}

a {
  text-decoration: unset;
}

a:hover {
  cursor: pointer;
  text-decoration: unset !important;
}

input,
textarea {
  outline: none;
  box-sizing: border-box;
}

button {
  border-color: transparent;
}

img {
  max-width: 100%;
  width: auto;
}
