.edit__movie-fixed {
  .edit__movie {
    img {
      max-width: 100%;
      width: auto;
    }
    .input {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;

      label:nth-child(3) {
        grid-column: 1/3;
      }
    }
    label {
      select {
        height: 30px;
        margin: 0 20px;
      }
      input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        margin-top: 10px;
      }
      textarea {
        width: 100%;
        box-sizing: border-box;
        height: 120px;
        margin-top: 10px;
      }
      input[type='file']:focus {
        outline: none;
      }
      input[type='file'] {
        margin: 20px 0;
      }
      .checkbox {
        .checkbox_items {
          label[class='span'] {
            width: 100px;
            display: inline-block;
            color: #2000ff;
          }
          input[type='checkbox'] {
            width: 20px;
            margin: 0;
          }
          display: flex;
          align-items: center;
        }
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
      }
      .filter_movies {
        &_items {
          label[class='span'] {
            width: 100px;
            display: inline-block;
            color: #2000ff;
          }
          input[type='checkbox'] {
            width: 20px;
            margin: 0;
          }
          display: flex;
          align-items: center;
        }
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        margin: 10px 0 20px;
      }

      display: block;
    }
    button {
      background-color: #01bdc2;
      font-size: 18px;
      padding: 7px;
      color: white;
    }
    .canner {
      margin-left: 20px;
      background-color: red;
      a {
        color: white;
      }
    }
    .uploaded {
      color: rgb(204, 0, 143);
      height: 30px;
      text-align: right;
    }
    width: 800px;
    margin: auto;
    padding: 50px 0;
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
