.movie-detail_tab {
  .nav-tabs {
    a {
      color: white;
      margin: 0 10px;
    }
    justify-content: center;
    padding-bottom: 20px;
  }
  margin: 120px 0 0;
  line-height: 2;
  padding-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .movie-detail_tab {
    .tab-content {
      padding: 0 20px;
    }
    margin-top: 40px;
  }
}
